*{
	font-family: courier;
	
}
/*if user uses media that has width over than 801px*/
@media all and (min-width: 801px){
	
	#ad{
		float: right;
		margin-top: 5%;

	}
	#postform{
		margin: 0px auto;
		background-image: url("bg.jpg");
		min-width: 20%;
		max-width: 35%;
		margin-top: 2%;
	}
	#textA{
		max-height: 100px;
		max-width: 80%;
	}
	input[type=text]{
		
		max-width: 50%;
	
	}
	
	input[type=password]{
		min-width: 50%;
		max-width: 50%;
	}
	
	.form{
		min-width: 40%;
		max-width: 40%;
		height: 50%;
		margin: 0px auto;
		margin-top: 2%;
		/*text-align: center;*/
		background-image: url("bg3.png");
		color: white;
		border-radius: 5px;
		border: outset;
		border-width: 0.5px;
		border-color: #28004d;
		box-shadow: 4px 4px 4px black;
		
	}
}

/*if user uses media that has width less than 801px*/
@media all and (max-width: 800px){
	
	#textA{
		max-height: 50px;
		max-width: 80%;
	}
	#ad{
		margin-top: 5%;
		display: none;
	}
	
	input[type=text]{
		min-width: 20%;
		max-width: 30%;
	
	}
	
	input[type=password]{
		min-width: 20%;
		max-width: 30%;
	}
	form{
		
		background-color: black;
		min-width: 40%;
		max-width: 60%;
		margin: 0px auto;
		margin-top: 2%;
		color: white;
	}
	
}

.thread_list{
	display: block;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	
}


table{
	margin: 0px auto;
	
}

#chart{
	margin: auto;
	float: left;
	max-width: 60%;
	min-width: 50%
	
}
#register{
	min-width: 20%;
	max-width: 40%;
	margin: auto;
	/*text-align: center;*/
	background-color: black;
	color: white;
}
.textbox{
	margin: auto;
	display: block;
}

#error{
	
	text-align: center;
	
}




.date{
	float: right;
	
}
.postrow{
	background-color: black;
	word-wrap: break-word;
	
}


#message{
	color: green;
	text-align: center;

}
.fb-login-button{
	text-align: center;
	
}


ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-image: url("bg.jpg");
	overflow: hidden;
	
}
body{
	margin: 0 0 50px;
	padding: 25px;
	background-image: url("bg.jpg");
}

li a{
	cursor: pointer;
	display: block;
	text-align: center;
	padding: 14px 16px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}



/* mouse hovers on menu*/
li:hover{
	background-color: #6900cc;
	
}
ul {
	text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("bg.jpg");
	text-decoration: none;
}

/*menu bar*/
ul#bar li{
	float: left;
	text-decoration: none;
}

/*dropdown menu*/



li.dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.footer{
	background-image: url("bg.jpg");
	color: white;
	height: 50px;
	width: 100%;
	position: absolute;
	left:0;
	bottom: 0;
	vertical-align: bottom;
	overflow: hidden;
	
}
.footer p{
	float: right;
	font-size: 15px;
	padding-bottom: 5px;
}

.courses{
	
	cursor: pointer;
	background-image: url("bg.jpg");
	font-weight: 500;
	padding: 0 0.75em 0.75em 0.75em;
	margin-top: 10px;
    margin-bottom: 10px;
  	text-align: left;
	
	
}
#tor{
	float: right;
	margin-right: 50px;

}
.infotext{
	margin-top: 20px;
	margin-bottom: -5px;
	
}
